<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <title>Express movies</title>
        <link rel="stylesheet" href="../public/style.css"/>
    </head>
    <body>
        <div class="central">
            <% include ./partials/header %>
            <h1><%= title %></h1>
            <div>
                <% for(movie of movies) { %>
                    <p><%= movie.title %> date <%= movie.year %></p>
                <% } %>    
            </div>
        </div>
        <hr/>
        <hr/>
        <hr/>
        <div>
            <form action="/movies" method="POST">
                <label for="movietitle">Titre du film</label>
                <input type="text" name="movietitle" id="movietitle"/>
                <br/>
                <label for="movieyear">Année du film</label>
                <input type="text" name="movieyear" id="movieyear"/>
                <br/>
                <input type="submit" value="Ajouter"/>
            </form>
        </div>
        <% include ./partials/footer %>
    </body>

</html>